<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
	
	
	<!--baord managemnet  -->
	
	<update id="board_state">
		update ${boardType} set <choose><when test="boardType == 'mem_board'"> mb_boardstatus = #{state} where mb_seq = #{seq}</when><when test="boardType == 'petsitter_board'">psb_boardstatus = #{state} where psb_seq = #{seq}</when></choose>
	</update>

	<!-- petsitter management -->
	<select id="petsitter" resultType="kh.pet.dto.PetsitterDTO">
		select p.ps_id, p.ps_age from member m, petsitter p where mem_id=ps_id and m.mem_type=1
	</select>
	
	<update id="petaccept">
		update member set mem_type = 2 where mem_id = #{value}
	</update>
	
	<delete id="petcencel">
		delete from petsitter where ps_id=#{value}  
	</delete>

	<!-- memeber management  -->
	<select id="memberlist" resultType="kh.pet.dto.MemberDTO">
	 	select * from (select member.* , row_number() over(order by MEM_JOIN_DATE desc)rnum from member) where rnum between ${start} and ${end}
	</select>
	
	<update id="mem_state">
		update member set  mem_status = <choose><when test="s_stop_day == 'no'">'no'</when><otherwise>'stop'</otherwise></choose> where mem_id = #{stop_id}
	</update>
	
	<select id="membercount" resultType="int">
		select count(*) from member
	</select>
	
	<insert id="mem_stop">
		insert into stop_mem values(stop_seq.nextval,sysdate,#{stop_id},#{stop_reason},${stop_day})
	</insert>
	
	<update id="mem_stop_update">
		update stop_mem set stop_day = stop_day+${stop_day} where stop_id = #{stop_id} 
	</update>
	
	<select id="mem_stop_search" resultType="int">
		select count(*) from stop_mem where stop_day != 0 and stop_id = #{value}
	</select>
	
	<delete id="mem_stop_cancel">
		delete from stop_mem where stop_id = #{value}
	</delete>
	
	<update id="mem_stop_count">
		update stop_mem set stop_day = (stop_day-1)
	</update>
	
	<update id="mem_stop_solve">
		update member set  mem_status = 'no' where mem_id = #{value}
	</update>
	
	<select id="mem_stop_solve_search" resultType="kh.pet.dto.Stop_memberDTO">
		select * from stop_mem where stop_day = 0
	</select>
	
	
	
	<!--reservation management -->
	
	
	<!--mem_board  -->
	<select id="rememboard" resultType="kh.pet.dto.MemboardDto">
		select * from mem_board where mb_restatus = 'yes' and mb_RESERVE_num = null
	</select>
	
	<update id="accept_mem_board">
		update mem_board set mb_RESERVE_num = #{seq} where mb_seq = #{p_seq}
	</update>
	
	
	<!--petsitter_board  -->
	<select id="repsboard" resultType="kh.pet.dto.WaitlistDTO">
		select * from waitlist
	</select>
	
	<select id="accept_pet_info">
		select * from waitlist where BOARD_SEQ = #{value}
	</select>
	
	<insert id="accept_pet_rsv">
		insert into RESERVATION values(RESERVE_SEQ,nextval,#{reserve_seq},#{petsitter_board_seq},#{petsitter_id},#{mem_id},#{pet_name},${reserve_point},#{reserve_sdate},#{reserve_edate},#{reserve_time})
	</insert>
	
	<delete id="accept_del_rsv">
		delete from stop_mem where BOARD_SEQ = #{value}
	</delete>
	
	<!--report management -->
	<select id="reportlist" resultType="kh.pet.dto.ReportDTO">
		select * from reports
	</select>
	
</mapper>